@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 214 32% 91%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --ring: 214 32% 91%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 214 32% 91%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 214 32% 91%;
    --accent-foreground: ;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --nextra-primary-hue: 0deg;

    --radius: 0.5rem;
  }

  :root[class~="dark"] {
    --background: 0 0% 6.7%;
    --foreground: 210 40% 98%;

    --muted: 0 0% 18%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 0 0% 18%;
    --card-foreground: 210 40% 98%;

    --ring: 0 0% 18%;
    --border: 0 0% 18%;
    --input: 0 0% 18%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 0 0% 18%;
    --secondary-foreground: 210 40% 98%;

    --accent: 0 0% 18%;
    --accent-foreground: ;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground !important;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  /*footer {*/
  /*  @apply bg-background text-foreground !important;*/
  /*}*/

  h1 {
    /* @apply tracking-tight font-mono leading-none; */
    @apply font-mono;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-size: 2.5em !important;
  }

  strong, b {
    @apply text-foreground !important;
  }

  p {
    margin: 0 !important;
    /* font-size: medium; */
  }

  h2 {
    /* @apply tracking-tight leading-none; */
    font-size: 1.8em !important;
    margin-top: 1.5em !important;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
  }

  h3 {
    font-size: 1.5em !important;
    margin-top: 1.2em !important;
    margin-bottom: 0em !important;
    margin-left: 0;
    margin-right: 0;
  }

  ul,
  ol {
    /* font-size: medium; */
    margin-top: 0 !important;
    padding-left: 7px !important; /* Base indentation for all lists */
  }



  /* Nested lists */
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-left: 18px !important; /* Additional indentation for nested lists */
  }

  /* List items */
  li {
    margin: 0; /* Vertical spacing between list items */
  }

  code {
    /* font-size: medium !important; */
  }

  img{
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
  }

  video{
    border-radius: 10px;
    border: 2px solid black
  }
}
